<header>

    <h1 style="background-color: rgb(235, 7, 155); color:black " > Hmv Corp  {{hvar}}  {{title}} </h1>

  
  <div>
    <a href="/"> Home page</a>
  <a href="/about"> Help page</a>



  </div>


</header>